* {
    box-sizing: border-box;
}

body {
    background-color: #353535;
    font-family: 'Roboto', sans-serif;
}

/* ------------- header-------------- */
.header {
    position: sticky;
    top: 0;
}

.header-row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-top: 5px solid  #a7c353;
    border-bottom: 1px solid  #a7c353;
}

.logo {
    text-align: center;
}

.logo-name,
.logo-text {
    display: block;
}

.logo-name {
    font-size: 36px;
    
}

.title {
    color:#666666;
    text-transform: capitalize;
}

.logo-text {
    font-size: 12px;
    text-transform: capitalize;
}

.text{
    color: #999999;
}

.upper-text {
    text-transform: uppercase;
}

/* ------------- shout-------------- */
.shout-row {
    background-color: #ffffff;
}

.text-shout{
    text-align: center;
    line-height: 1.5;
}

/* ------------- slider-------------- */


/* ------------- content-------------- */
.content-row {
    flex-direction: column;
    background-color: #ffffff;
}

.about,
.service,
.testimonials {
    padding-top: 5px;
    padding-bottom: 5px;
}

.content-title{
    margin-bottom: 10px;
    font-size: 22px;
    text-align: center;
}

.service-bloc {
    display: flex;
}

.service-image {
    margin-right: 15px;
}

.service-bloc {
    margin-bottom: 10px;
}

.service-bloc-text {
    padding-top: 10px;
    font-size: 13px;
    line-height: 1.3;
}

.more {
    text-align: right;
}

.more-link {
    color: #a7c353;
}

/* tablet */
@media(min-width:768px){
    .header-row {
        height: 100px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    } 

    .logo {
        text-align: left;
    }
    
    .nav-menu {
        display: flex;
        justify-content: center;
    }

    .menu-item {
        padding: 40px 5px 40px 5px;
        font-size: 13px;
        color: #979797;
        text-transform: uppercase;
    } 
    
    .nav-menu > li:hover a{
        color: #ffffff;
        background-color: #a7c353;
    }  

    .shout-row {
        height: 135px;
    }

    .shout-content {
        display: flex;
        align-items: center;
        max-width: 100%;
    }
    
    .text-shout{
        font-size: 16px;
    }

    .about,
    .service,
    .testimonials {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .content-title{
        margin-bottom: 10px;
    }

    .service-bloc {
        margin-bottom: 20px;
    }
}


/* laptop */
@media(min-width:992px){
    .menu-item {
        padding: 39px 13px 39px 13px;
        font-size: 15px;
    }  
    
    .text-shout{
        font-size: 20px;
    }

    .content-row {
        flex-direction: row;
    }

    .content-title{
        margin-bottom: 30px;
    }
}

/* desktop */
@media(min-width:1280px){
    .menu-item {
        padding: 38px 20px 38px 20px;
        font-size: 17px;
    }   

    .text-shout{
        font-size: 22px;
    }
}


/* mobile */
@media(max-width:767px){
  
}