* {
    box-sizing: border-box;
}

body {
    background-color: #353535;
    font-family: 'Roboto', sans-serif;
}

/* ------------- header-------------- */
.header {
    position: sticky;
    top: 0;
}

.header-row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-top: 5px solid  #a7c353;
    border-bottom: 1px solid  #a7c353;
}

.logo {
    text-align: center;
}

.logo-name,
.logo-text {
    display: block;
}

.logo-name {
    font-size: 36px;
}

.title {
    color:#666666;
    text-transform: capitalize;
}

.logo-text {
    font-size: 12px;
    text-transform: capitalize;
}

.text{
    color: #999999;
}

.upper-text {
    text-transform: uppercase;
}

/* ------------- shout-------------- */
.shout-row {
    background-color: #ffffff;
}

.text-shout{
    text-align: center;
    line-height: 1.5;
}

/* ------------- slider-------------- */


/* ------------- content-------------- */
.content-row {
    flex-direction: column;
    background-color: #ffffff;
}

.about,
.service,
.testimonials {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* .about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

.about-img {
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #e2e2e2;
}

.about-text{
    margin-bottom: 20px;
}

.content-title {
    margin-bottom: 10px;
    font-size: 22px;
    text-align: center;
}

.service-bloc-title {
    margin-bottom: 10px;
}

.content-text {
    font-size: 13px;
    line-height: 1.3;
}

.service-container {
    margin-bottom: 20px;
}

.service-bloc {
    display: flex;
    margin-bottom: 10px;
}

.service-image {
    margin-right: 15px;
}

.service-bloc:last-child {
    margin-bottom: 0;
}

.more {
    text-align: right;
}

.more-link {
    font-size: 13px;
    color: #a7c353;
    text-transform: capitalize;
}

.more-link::after{
    content: " »";
}

.author-name {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}

.quotes {
    margin-right: 10px;
}

.testimonials-author{
    font-size: 16px;
}

.testimonials-text{
    margin-bottom: 20px;
}

.testimonials-one {
    margin-bottom: 15px;
}

/* ------------- contact-------------- */

.contact-row {
    flex-wrap: wrap;
}

.company-details,
.social,
.blog,
.contact-us {
    padding-top: 10px;
}

.contact-title {
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #3a3a3a;
    color: white;
}

.contact-bloc {
    margin-bottom: 20px;
}

.contact-bloc:last-child {
    margin-bottom: 0;
}

.contact-text {
    font-size: 12px;
    color: #999999;
    margin-bottom: 5px;
}

.tel-link {
    color: #999999;
}

.email-link {
    color: #a7c353;;
}

.social-link-bloc {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #3a3a3a;
}

.social-link-bloc:last-child{
    margin-bottom: 0;
}

.social-img {
    width: 30px;
    border-radius: 100%;
    background: #383838 ;
    margin-right: 10px;
}

.social-link {
    width: 100%;
}

.link {
    font-size: 12px;
    color: #a7c353;
}

.blog-post-bloc {
    margin-bottom: 15px;
}

.blog-post-bloc:last-child {
    margin-bottom: 0;
}

.blog-post-title {
    font-size: 13px;
    margin-bottom: 10px;
    color: #999999;
}

.blog-posted {
    margin-bottom: 10px;
    font-size: 11px;
}

.post {
    margin-bottom: 15px;
    line-height: 1.4;
    font-size: 12px;
}

 .fields {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -khtml-border-radius: 7px;
    outline-color: #a7c353;
    background-color: #383838;
    border: none;
    color: #666666;
}

.textarea-text{
    height: 110px;
    resize: none;
}

.send-massege{
    padding: 10px 12px;
    font-size: 13px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -khtml-border-radius: 7px;
    border: none;
    background-color: #a7c353;
    color: black;
}

.send-massege:hover {
    background-color: black;
    color: #a7c353;;
}


/* ------------- footer-------------- */

.footer-row {
    border-bottom: 1px solid #3a3a3a;
}

/* tablet */
@media(min-width:768px){
    .header-row {
        height: 100px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    } 

    .logo {
        text-align: left;
    }
    
    .nav-menu {
        display: flex;
        justify-content: space-between;
    }

    .menu-item {
        padding: 40px 5px 40px 5px;
        font-size: 13px;
        color: #979797;
        text-transform: uppercase;
    } 
    
    .nav-menu > li:hover a{
        color: #ffffff;
        background-color: #a7c353;
    }  

    .shout-row {
        height: 135px;
    }

    .shout-content {
        display: flex;
        align-items: center;
        max-width: 100%;
    }
    
    .text-shout{
        font-size: 16px;
    }

    .content-row,
    .contact-row {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .content-title{
        margin-bottom: 10px;
    }

    .service-bloc {
        margin-bottom: 20px;
    }

    .service-bloc-content {
        width: 100%;
    }   

}


/* laptop */
@media(min-width:992px){
    .menu-item {
        padding: 39px 13px 39px 13px;
        font-size: 15px;
    }  
    
    .text-shout{
        font-size: 20px;
    }
    .about,
    .service,
    .testimonials {
        padding-top: 0;
        padding-bottom: 00x;
    }

    .content-row,
    .contact-row {
        flex-direction: row;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .content-title{
        text-align: left;
        margin-bottom: 30px;
    }

    .contact-title {
        text-align: left;
    }
}

/* desktop */
@media(min-width:1280px){
    .menu-item {
        padding: 38px 20px 38px 20px;
        font-size: 17px;
    }   

    .text-shout{
        font-size: 22px;
    }

    .content-row,
    .contact-row {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}


/* mobile */
@media(max-width:767px){
    .contact-form {
        text-align: center;
    }
}